<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.ExpenseOS"
        android:usesCleartextTraffic="true">

        <!-- Launch: Book Selector -->
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main shell: Bottom Nav + Side Drawer -->
        <activity android:name=".ui.HomeActivity" />

        <!-- Feature screens -->
        <activity android:name=".ui.TransactionActivity" />
        <activity android:name=".ui.TransactionDetailActivity" />
        <activity android:name=".ui.BulkAddActivity" />
        <activity android:name=".ui.SettingsActivity" />
        <activity android:name=".ui.AuditLogActivity" />

    </application>
</manifest>